.work__list{
    >thead>tr>th, >tbody>tr>td{
        &:nth-child(2){
            width: 90px!important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:nth-child(3){
            width: 190px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:nth-child(4){
            width: 54px!important;;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:nth-child(5){
            width: 64px!important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:nth-child(6){
            width: 22px!important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.scrollable__small{
    max-height: 415px!important;
    height: 415px;
}